commands:
  01_create_postgres_dir:
    command: "mkdir -p /var/app/postgres_data && chmod 777 /var/app/postgres_data"
  02_create_redis_dir:
    command: "mkdir -p /var/app/redis_data && chmod 777 /var/app/redis_data"

option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium
    RootVolumeSize: 30
